{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"#}
    {#          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">#}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>


<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <img src="{% static 'images/qulo.png' %}" width="420" class="position-fixed fixed-bottom" alt="">
        </div>
        <div class="col-4 mt-5 text-center">
            <div>
                <a href="{% url "home_page" %}"><img src="{% static 'images/trello.png' %}" width="200" alt=""></a>
            </div>

            <section>
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <div{% if message.tags %}
                                class="alert alert-{{ message.tags }} alert-dismissible fade show" {% endif %}
                                role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    </ul>
                {% endif %}
            </section>

            <div class="cart">
                <h1>Log in to Trello</h1>
                <div class="send-email">
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <input type="text" class="email" name="username"
                                   placeholder="Enter username">
                        </div>
                        <div class="mb-3">
                            <input type="password" class="email" name="password"
                                   placeholder="Enter password">
                        </div>
                        <input type="submit" class="btn btn-success btn-block mt-4" style="width: 100%" value="login">
                    </form>
                    <p class="text-secondary mt-3" style="font-size: 21px">or</p>
                </div>
                <div class="link">
                    <div class="box">
                        <a href="#" class="d-flex">
                            <img src="{% static 'images/download.png' %}" width="40" alt="">
                            <p class="mb-0 ">Continue with Google</p>
                        </a>
                    </div>
                    <div class="box">
                        <a href="#" class="d-flex pt-2">
                            <img src="{% static 'images/images.jpg' %}" class="mr-2" width="20" alt="">
                            <p class="mb-0 ">Continue with Microsoft</p>
                        </a>
                    </div>

                    <div class="box">
                        <a href="#" class="d-flex pt-2">
                            <img src="{% static 'images/apple-1.svg' %}" class="mr-2" width="20" alt="">
                            <p class="mb-0 ">vContinue with Apple</p>
                        </a>
                    </div>

                    <div class="box">
                        <a href="#" class="d-flex pt-2">
                            <img src="{% static 'images/slack.png' %}" width="20" alt="">
                            <p class="mb-0 ">Continue with Slack</p>
                        </a>
                    </div>
                    <div class="dropdown-divider my-4"></div>
                    <a class="text-decoration-none mx-2" href="#">Forgot password?</a>
                    <a class="text-decoration-none" href="{% url "auth:sign_up" %}">Sign up for an account</a>

                </div>

            </div>
        </div>
        <div class="col-4"><img src="{% static 'images/migration.svg' %}" class="position-fixed fixed-right"
                                style="bottom: 0; width: 462px; right: 0" alt=""></div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>