{% extends "landing.html" %}
{% block title %}
    Projects List
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row d-flex justify-content-center">
{#            <div class="col-4">#}
{#                <div class="body-right">#}
{#                    <div>#}
{#                        <p><a href="#">Users</a></p>#}
{#                        <p><a href="{% url "projects:projects" %}">Projects</a></p>#}
{#                        <p><a href="#">Tasks</a></p></div>#}
{#                </div>#}
{#            </div>#}
            <div class="col-8">
                <div class="row mb-4 ms-5">
                    {% for project in list_project %}
                        <div class="col-4">
                            <a href="{% url 'projects:project_detail' project.id %}"
                               style="text-decoration: none; color: white; font-weight: bold">
                                <p>{{ project.name }}</p>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>


            <div class="col-9 offset-3 mt-2">
                {% if list_project.paginator.page_range %}
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            {% if list_project.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ list_project.previous_page_number }}"
                                       aria-label="Previous">
                                        Previous
                                    </a>
                                </li>
                            {% endif %}


                            {% for page in list_project.paginator.page_range %}
                                {% if list_project.number == page %}
                                    <li class="page-item active">
                                        <a aria-current="page" class="page-link"
                                           href="?page={{ page }}">{{ page }}</a>
                                    </li>
                                {% else %}
                                    <li class="page-item"><a class="page-link"
                                                             href="?page={{ page }}">{{ page }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if list_project.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ list_project.next_page_number }}"
                                       aria-label="Next">
                                        Next
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endif %}
            </div>


        </div>
    </div>


{% endblock %}