body {
    background-image: url("../images/tree.jpg");
    background-size: 100%;
}

.container .row .col-4 .body-right {
    width: 86%;
    height: 455px;
    background: currentColor;
    margin-top: 100px;
    border-radius: 100px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container .row .col-4 .body-right p {
    background: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 60px;
    border-radius: 13px;
}

.container .row .col-4 .body-right p a {
    color: aquamarine;
    text-decoration: none;
    font-weight: 700;
    font-family: sans-serif;
}

.container .row .col-8 {
    margin-top: 100px;
    border-radius: 31px;
}

.container .row .col-8 .row .col-4 {
    background-image: url("../images/Windows-Backgrounds-Mountain-Stock-Photos-Backgroundnature-.jpg");
    width: 194px;
    border-radius: 10px;
    height: 100px;
    background-repeat: round;
    margin-top: 33px;
    margin-left: 41px;
    position: relative;

}
.container .row .col-8 .row .col-4 a{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 11px;
}

